:root {
  /* sets the base font size */
  font-size: 3.5vw;
  font-family: Arial, sans-serif;
}

body {
  background-color: cadetblue;
  margin: 7%;
  padding: 0;

}

div {
  display: flex;
  justify-content: center;

  padding: 3px;
}

.list-container {
  width: 80vw;
  justify-content: left;
}

ul {
  width: 100%;
}

li {
  padding: 0.5rem 0.2rem 0;
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
  text-align: left;
  width: 90%;
}

button {
  font-size: 1rem;

  border: 0;
  border-radius: 0.3rem;
  background-color: darkcyan;

  width: 5rem;
  height: 3rem;
  margin: 3px;

  cursor: pointer;
}

button:hover {
  color: white;
  background-color: darkgreen;
}

button:active {
  background-color: darkslategray;
}

#btnDelete,
.test-delete-btn {
  float: right;
  height: 1.4rem;
  transform: translateY(-0.3rem);

  margin: 0;
  background-color: darkred;

  /* disable select and edit */
  /* Safari */
  -webkit-user-select: none;
  /* IE 10 and IE 11 */
  -ms-user-select: none;
  /* Standard syntax */
  user-select: none;

  cursor: pointer;
}

.delete-btn {
  display: none;
}

li:focus .delete-btn {
  display: block;
}

@media (max-width: 768px) {
  :root {
    font-size: 3.5vw;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  :root {
    font-size: 2vw;
  }
}

@media (min-width: 1200px) {
  :root {
    font-size: 1.5vw;
  }
}

@media (pointer: coarse) {
  button:hover {
    /* override hover styles for touchscreens */
    background-color: darkcyan;
  }
}